.1_3 { 
	overflow:hidden;
}
.e1_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e1_9 { 
	width:302px;
	height:241px;
	position:absolute;
	left:569px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_7 { 
	background-color:rgba(0, 0, 0, 1);
	width:128.5131378173828px;
	height:15.712713241577148px;
	position:absolute;
	left:932px;
	top:283px;
}
.e4_8 { 
	color:rgba(0, 0, 0, 1);
	width:98px;
	height:25px;
	position:absolute;
	left:487px;
	top:279px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e4_9 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:25px;
	position:absolute;
	left:633px;
	top:281px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e4_11 { 
	color:rgba(0, 0, 0, 1);
	width:138px;
	height:25px;
	position:absolute;
	left:772px;
	top:279px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e5_13 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:25px;
	position:absolute;
	left:379px;
	top:279px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e5_17 { 
	width:1440px;
	height:301px;
	position:absolute;
	left:0px;
	top:359px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_18 { 
	background-color:rgba(1.274996765423566, 1.274996765423566, 1.274996765423566, 0.41999998688697815);
	width:371px;
	height:105px;
	position:absolute;
	left:1024px;
	top:381px;
}
.e5_20 { 
	color:rgba(255, 255, 255, 1);
	width:244px;
	height:25px;
	position:absolute;
	left:1088px;
	top:414px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
.e8_21 { 
	background-color:rgba(94.77499321103096, 86.48218140006065, 86.48218140006065, 0.7400000095367432);
	width:542px;
	height:202px;
	position:absolute;
	left:91px;
	top:399px;
}
.e8_24 { 
	color:rgba(255, 255, 255, 1);
	width:544px;
	height:100px;
	position:absolute;
	left:91px;
	top:450px;
	font-family:Inter;
	text-align:left;
	font-size:21px;
	letter-spacing:0;
}
